.premium-advertisement {
    padding-top: 5rem;
    padding-bottom: 8rem;
    background-image: linear-gradient($darken-image, $darken-image), url(../images/premium-background.jpg);
    background-position: center;
    background-size: cover;

    &__heading {
        text-align: center;
        margin-bottom: 1rem;

        & span {
            display: inline-block;
            color: $dark;
            background-color: $primary;
            padding: 1rem;
        }
    }

    &__subheading {
        text-align: center;
        width: 85%;
        margin: 0 auto;
        color: $light;
        font-size: 3.5rem;
        margin-bottom: 10rem;
        font-weight: 700;
    }

    &__features {
        width: 85%;
        margin: 0 auto;
        padding: 0 3rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        grid-gap: 5rem;
        align-items: center;
    }

    &__feature {
        width: 100%;
        padding: 2rem;
        border-radius: 1px;
        background-color: rgba($light, 0.8);
        align-self: stretch;
        transition: all .2s;

        &:hover {
            transform: scale(1.04);
        }

        &-title {
            text-align: center;
            margin-bottom: 2rem;
        }
    }

    &__icon {
        margin: 1.5rem 0;
        text-align: center;

        & svg {
            width: 6.5rem;
            height: 6.5rem;
            fill: $primary;
        }
    }

    &__text {
        font-size: 1.6rem;
        text-align: center;
    }
}
