.page-match-details {
    background-image: linear-gradient($darken-image, $darken-image),
    url(../images/matches-background.jpg);
    background-size: cover;    
    background-position: center;

    @media (max-width: 700px) {
        padding-top: 10rem;
    }
}