.page-cabinet {
    background-color: #fff;
    padding: 8rem 0;
    color: $dark;

    &__heading {
        display: flex;
        justify-content: space-between;
        margin-bottom: 2rem;
        font-size: 3rem;
        text-transform: uppercase;
        text-align: start;
    }

    &__premium-title {
        color: $primary;

        &--disabled {
            opacity: 0;
            visibility: hidden;
        }

        &--active {
            opacity: 1;
            visibility: visible;
        }
    }

    &__user {
        display: flex;
        margin-bottom: 3.5rem;
        
        &-image {
            width: 15rem;
            height: 15rem;
            display: block;
            margin: 0 auto;
            margin-bottom: 2rem;
            border: 1px solid #ccc;
        }
        
        &-profile {
            margin-right: 3rem;
        }

        #btn-edit {
            width: 100%;
            text-align: center;
            margin-bottom: 1rem;
        }
    }

    &__row {
        padding: 1.5rem;

        &:first-child {
            margin-right: auto;
        }
    }

    &__info-container {
        border: 1px solid #ccc;
        flex-grow: 1;
        display: flex;
    }

    &__info {
        font-size: 2rem;

        span:first-child {
            font-weight: 700;
        }

        &:not(:last-child) {
            margin-bottom: 2rem;
        }
    }

    &__balance-box {
        padding: 1rem 0;
        display: flex;
        align-items: center;

        h4 {
            margin-right: auto;
        }
    }

    &__balance-info {
        display: flex;
        align-items: center;

        & > *:not(:last-child) {
            margin-right: 2rem;
        }        

        h4 {
            font-weight: 700;
        }
    }

    &__balance {
        font-size: 2rem;
    }

    &__bets-history {
        padding: 2.5rem;
        background-color: #eee;
        border-radius: 5px;
        overflow-y: scroll;
    }

    &__bet {
        padding: 2rem;
        background-color: #fff;
        font-size: 2rem;
        border-radius: 5px;
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
        transition: all .2s;
        display: flex;
        justify-content: space-between;

        &:not(:last-child) {
            margin-bottom: 1.5rem;
        }

        &:hover {
            transform: scale(1.02);
        }
    }
}