.page-register {
    padding: 8rem 0;
    min-height: 75vh;
    background-image: linear-gradient($darken-image, $darken-image),
    url(../images/login-background.jpg);
    background-position: center;
    background-size: cover;
    
    &__container {
        max-width: 75%;
        margin: 0 auto;
        padding: 2rem;
        border-radius: 5px;
        background-color: #eee;
    }

    &__form {
        font-size: 1.8rem;
    }
    
    &__form-data {
        display: flex;
        align-items: center;
        margin-bottom: 4rem;
    }

    &__row {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        flex-grow: 0.5;

        &:first-child {
            margin-right: 2rem;
            padding-top: 1.2rem;
        }
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 1rem;
        border-bottom: 1px solid #ccc;

        &:not(:last-child) {
            margin-bottom: 2rem;
        }

        label {
            font-size: 2rem;
            font-weight: 700;
        }

        span {
            color: $red;
        }
    }
}