.page__access-denied {
    padding: 3rem;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;

    &--container {
        background-color: #eee;
        padding: 3rem;
        width: 80%;
        border-radius: 5px;
        opacity: 0.9;
        text-align: center;
        box-shadow: 0 2px 3px rgba(#000, 0.2);
    }
}

.page__modal {
    width: 100%;
    height: 100%;
    background-color: rgba(#000, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;

    &--hidden {
        display: none;
    }

    &-content {
        padding: 3rem;
        width: 50rem;
        height: 30rem;
        background-color: #fff;
        border-radius: 5px;
        text-align: center;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 2.5rem;

        div:not(:last-child) {
            margin-bottom: 1.5rem;
        }

        &--close {
            position: absolute;
            top: -5px;
            right: 15px;
            font-size: 4.2rem;
            transform: rotate(45deg);
            cursor: pointer;
            color: $red;
        }
    }

    &-balance {
        margin: 1rem 0;
        font-size: 1.8rem;
        align-self: flex-start;
    }

    &-bet {
        display: flex;
        font-size: 2rem;
        margin-bottom: 2rem;

        input {
            margin-right: 2rem;
            border: 1px solid #ccc;
        }
    }
}

.page__up-btn {
    width: 5rem;
    height: 5rem;
    position: fixed;
    color: $light;
    bottom: 3rem;
    right: 3rem;
    border-radius: 50%;
    background-color: $primary;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    transition: all .2s;
    visibility: hidden;
    opacity: 0;
    z-index: 200;

    &--visible {
        visibility: visible;
        opacity: 1;
    }

    &:hover {
        transform: scale(1.03);
    }

    &--content {
        transform: rotate(-90deg);
        font-size: 3rem;
        font-weight: 700;
    }
}

.animate__animated {
    animation-fill-mode: none;
    -webkit-animation-fill-mode: none;
}