$primary: #ffc107;
$primary-light: #ffc929;
$background: #2c3e50;
$background-light: #34495e;

$light: #fff;

$grey-light: #BDBDBD;
$grey-dark: #757575;

$dark: #212121;

$darken-image: rgba($background, 0.7);