.match-detail {
    background-color: #eee;
    padding: 5rem;
    

    &__general-info {
        padding: 2rem;
        border: 1px solid #ccc;
        border-radius: 5px;
        display: flex;
        margin-bottom: 4rem;

        & > * {
            flex-grow: 1;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &__logo {
        width: 15rem;
        height: 15rem;
    }

    &__info {
        flex-direction: column;

        h3 {
            margin-bottom: 1rem;
        }
    }

    &__name {
        margin-bottom: 2rem;
    }

    &__coefficients, 
    &__math-prediction, 
    &__neuro-prediction {
        padding: 3rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
        grid-gap: 3rem;
        margin-bottom: 4rem;
        border: 1px solid #ccc;
    }

    &__coefficients &__item {
        cursor: pointer;
    }

    &__item {
        text-align: center;
        padding: 1rem;
        color: $light;
        transition: all .2s;
        font-size: 2.1rem;
        font-weight: 700;
        border-radius: 5px;

        &--blue {
            background-color: $blue;

            &:hover {
                background-color: $blue-light;
            }
        }

        &--orange {
            color: $dark;

            background-color: $primary;

            &:hover {
                background-color: $primary-light;
            }
        }
    }

    &__team-statistics {
        display: flex;
    }
}