.statistics {
    padding: 2rem;
    border: 1px solid #ccc;
    flex-grow: 1;

    &__heading-row {
        display: flex;
        align-items: center;
    }

    &__heading {
        width: 100%;
        padding: 2rem;
        flex-grow: 1;
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #ccc;
        text-align: center;
    }

    &__row {
        display: flex;
    }

    &__element {
        width: 100%;
        padding: 2rem;
        flex-grow: 1;
        height: 8rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #ccc;
        text-align: center;

        &--win {
            background-color: #36be36b6;
        }

        &--lose {
            background-color: #b93434d0;
        }

        &--draw {
            background-color: #be9830c2;
        }
    }
}